################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_all/windows/nuget.exe
/cmake
/devdoc/~$o_requirements.docm
/.vscode
*.jar
[Dd]ebug/
[Rr]elease/

# TI MSP driverlib
/inc/[Dd]river[Ll]ib/

# TI Code Composer Studio detritus
*/org.eclipse.cdt.codan.core.prefs
*/org.eclipse.cdt.debug.core.prefs
*/org.eclipse.core.resources.prefs

